.headerContainer {
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;

  nav {
    margin-top: 1rem;

    ul {
      display: flex;
      justify-content: center;
      gap: 2rem;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline;
        text-decoration: underline;
        cursor: pointer;
        font-weight: bold;

        a {
          color: white;
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: bold;
          transition: color 0.3s ease;

          &:hover {
            color: lemonchiffon;
          }
        }
      }
    }
  }
}
